.productCard .textPart{
    transition: transform .3s ease-out;
}

.productCard:hover .textPart{
    transform: translateY(-1.5rem);
}

.productCard:hover{
    box-shadow: rgba(0, 0, 0,0.25 ) 0px 54px 55px, rgba(0, 0, 0,0.25 ) 0px 54px 55px ;
}