/* Product.css */
.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 items per row */
    gap: 20px; /* Adjust the gap between items */
    padding: 20px;
  }
  
  .product-grid-item {
    /* You can add additional styling for individual items if needed */
  }
  
 /* Productcard.css */
.product-card {
    transition: transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
  }
  
  .product-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  
  .product-card:hover .MuiCardMedia-root {
    filter: brightness(90%);
  }
  
  .product-card:hover .MuiCardActions-root button {
    color: #673ab7; /* Example color on hover */
  }
  