.video-container {
    overflow: hidden;
    height: calc(40rem + 4rem);
     /* Adjust the total height as needed */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .video-container h1 {
    font-weight: bold;
  }
  